.static { position: static }
.relative { position: relative }
.absolute { position: absolute }
.fixed { position: fixed }
.sticky { position: sticky }

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.centre {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edge-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.edge-auto {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.top-0 { top: 0 }
.left-0 { left: 0 }
.right-0 { right: 0 }
.bottom-0 { bottom: 0 }

.top-auto { top: auto }
.left-auto { left: auto }
.right-auto { right: auto }
.bottom-auto { bottom: auto }
